body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Look, I know this is ugly but this freaking CSS framework uses a hack that they are not going to remove */
.columns {
  margin-top: 0 !important;
  margin-bottom: 0  !important;
}

.column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Remove that ugly yellow autofill indicator*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}